{% extends 'base.html' %} {% block content %}

<h1>Shopping List</h1>

{% for list in object_list %}
<div>
   <form action="#">
    {% csrf_token %}
    <p>
        <label>
            <input type="checkbox" />
            <span>{{list.quantity}} {{list.item}} </span>
        </label>
    </p>
    </form>
{% endfor %}
</div>
<div>

{% for recipe in object_recipe %}
   <form action="#">
    {% csrf_token %}
    <p>
        <label>
            <input type="checkbox" />
            <span>{{recipe.ingredients}} </span>
        </label>
    </p>
    </form>
    {% endfor %}

</div>


{% endblock %}