{% extends 'base.html' %} {% block content %}

<h1>About</h1>

    <p class="flow-text">
    Welcome to the Meal Planner app. Here you can plan you dishes, input your recipes, and create your shopping lists. The more you plan, the easier the app is to use. Store all your favorite recipes for quick and easy planning. Stay with us for our future updates of adding recipes directly to your meals list, breakfast/lunch/dinner catagories, and adding ingredients directly to your shopping list.</p>
    <br />
    <h4>Happy planning!</h4>

        <!-- <style>
        p {
            width: 40%;
        }
    </style> -->
{% endblock %}